
@using PagedList.Mvc;
@using demoWeb.Models
@model PagedList.PagedList<SANPHAM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title> Digitals Store </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <link href="~/Content/styleSearch.css" rel="stylesheet" />


</head>

<body>
    <div class="hero_area">
        <div class="bg-box">
            <img src="~/Content/images/canon_banner_bg.jpg" />
        </div>
        <!-- header section strats -->
        <!-- end header section -->
        <!-- slider section -->
        <section class="slider_section ">
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 col-lg-6 ">
                                    <div class="detail-box">
                                        <h1>
                                            Ống Kính Sigma 24-70mm f/2.8 DG DN Art
                                        </h1>
                                        <p>
                                            Xuất hiện trên thị trường trong khoảng giữa tháng 11/2019, Sigma 24-70mm f/2.8 DG DN Art là chiếc lens thứ hai trong dòng Sigma DN (Digital Native) dành cho dòng máy ảnh mirrorless full-frame E-mount.
                                        </p>
                                        <div class="btn-box">
                                            <a class="btn1">
                                                Đặt mua
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 col-lg-6 ">
                                    <div class="detail-box">
                                        <h1>
                                            Canon EOS M6 Mark II
                                        </h1>
                                        <p>
                                            Máy ảnh không gương lật Canon EOS M6 Mark II ngay từ khi mới ra mắt đã đem lại nhiều ấn tượng tốt với tín đồ của Canon. Không chỉ vì máy có hiệu năng vượt trội, mang lại chất lượng ảnh tốt ngay cả khi ánh sáng yếu hay khả năng đóng băng một chuyển động bất kỳ mà còn vì máy có thiết kế thời trang, bền bỉ, nhỏ gọn thuận tiện để bạn có thể mang đi tác nghiệp ở bất kỳ đâu.
                                        </p>
                                        <div class="btn-box">
                                            <a href="https://localhost:44359/Home/Menu" class="btn1">
                                                Đặt mua
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 col-lg-6 ">
                                    <div class="detail-box">
                                        <h1>
                                            Máy ảnh Sony Alpha A7R Mark IV
                                        </h1>
                                        <p>
                                            Ba năm sau sự thành công của Sony A7R Mark 3, tháng 7/2019 Sony tiếp tục cho ra mắt thế hệ thứ tư Sony A7R Mark IV của dòng máy ảnh mirrorless full frame A7R với những cải tiến vượt trội như cảm biến CMOS độ phân giải 61MP, khả năng chụp liên tiếp 10 khung hình/giây, quay phim 4K,… cùng một số tính năng khác sẽ đem lại chất lượng hình ảnh mượt mà, sống động.
                                        </p>
                                        <div class="btn-box">
                                            <a href="https://localhost:44359/Home/Menu" class="btn1">
                                                Đặt mua
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <ol class="carousel-indicators">
                        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                        <li data-target="#customCarousel1" data-slide-to="1"></li>
                        <li data-target="#customCarousel1" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>

        </section>
        <!-- end slider section -->
    </div>

    <!-- offer section -->

    <section class="offer_section layout_padding-bottom">
        <div class="offer_container">
            <div class="container ">
                <div class="row">
                    <div class="col-md-6  ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="~/Content/images/canon_eos90d.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Máy ảnh Canon EOS 90D
                                </h5>
                                <h6>
                                    <span>20%</span> Off
                                </h6>
                                <a href="https://localhost:44359/Home/Menu">
                                    Đặt mua <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                   
                  </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="~/Content/images/nikon-d3400.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Máy ảnh Nikon D3400
                                </h5>
                                <h6>
                                    <span>15%</span> Off
                                </h6>
                                <a href="https://localhost:44359/Home/Menu">
                                    Đặt mua <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                  
                  </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end offer section -->
    <!-- food section -->

    <section class="food_section layout_padding-bottom">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Sản phẩm nổi bật
                </h2>
            </div>

            <div class="filters-content">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-6 col-lg-4 all pizza">

                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <a href="@Url.Action("Details","Home", new { id = item.MASANPHAM })">
                                            <img src="@item.HINH" alt="thumbnails" />
                                        </a>
                                    </div>
                                    <div class="detail-box">
                                        <h5>
                                            @item.TENSANPHAM
                                        </h5>
                                        <p>
                                            @item.TRANGTHAI
                                        </p>
                                        <div class="options">
                                            <h6>
                                                <bdo>$</bdo> @item.GIABAN <bdo>VNĐ</bdo>
                                            </h6>
                                            @*<a class="btn btn-success" href="@Url.Action("ThemGioHang", "GioHang",new { @id = item.MASANPHAM, @strURL = Request.Url.ToString() })">Đặt mua</a>*@
                                            <button class="btnDatMua" data-id="@item.MASANPHAM">Đặt Mua</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
            <div>
                @*page list*@
                <div class="pagelist">
                    <div>
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                    </div>
                    <div class="MenuTrang">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                    </div>
                </div>
                <style>
                    .pagelist {
                        margin-left: 45%;
                        padding: 20px;
                        font-weight: bold;
                    }
                    .MenuTrang li {
                        display: inline;
                        padding:5px;
                    }
                </style>
                <style type="text/css">
                    #mau-nut a {
                        clear: both;
                        background-color: orange;
                        color: snow;
                    }

                        #mau-nut a:hover {
                            background-color: darkcyan;
                            color: snow;
                        }
                </style>
                <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
                <script>
                    $(document).ready(function () {
                        var maxLength = 100;
                        $(".show-read-more").each(function () {
                            var myStr = $(this).text();
                            if ($.trim(myStr).length > maxLength) {
                                var newStr = myStr.substring(0, maxLength);
                                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                                $(this).empty().html(newStr);

                                $(this).append(' <a href="javascript:void(0);" class="read-more">đọc tiếp...</a>'); $(this).append('<span class="more-text">' + removedStr + '</span>');
                            }
                        });
                        $(".read-more").click(function () {
                            $(this).siblings(".more-text").contents().unwrap();
                            $(this).remove();
                        });
                    });
                </script>
                <style>
                    .show-read-more .more-text {
                        display: none;
                    }
                </style>
            </div>
        </div>
    </section>
    <section class="about_section layout_padding">
        <div class="container  ">

            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="~/Content/images/canon_nonbg.png" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Chúng tôi là Digitals Store
                            </h2>
                        </div>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                            in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                            are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
                            the middle of text. All
                        </p>
                        <a href="">
                            Đọc thêm...
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end client section -->
    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4>
                            Liên hệ chúng tôi
                        </h4>
                        <div class="contact_link_box">
                            <a href="https://bitly.com.vn/tdue0o" target="_blank">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Vị trí cửa hàng trên Google Map
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    Hotline: 0397921794
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    hoanphucle2001@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a href="" class="footer-logo">
                            Digitals Store
                        </a>
                        <p>
                            “Bạn không thể chỉ hỏi khách hàng xem họ muốn gì và rồi cố đem nó cho họ. Tới lúc bạn hoàn thiện nó, họ đã muốn thứ mới mẻ khác rồi.” – Steve Jobs
                        </p>
                        <div class="footer_social">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4>
                        Giờ mở cửa
                    </h4>
                    <p>
                        Từ Thứ 2 - Thứ 7
                    </p>
                    <p>
                        10.00 Am -10.00 Pm
                    </p>
                </div>
            </div>
            <div class="footer-info">
                <p>
                    &copy; <span id="displayYear"></span> Copyright By
                    <a href="https://facebook.com.lhp.hutech">lehoanphuc</a><br><br>
                </p>
            </div>
        </div>
    </footer>
    <!-- footer section -->
    <!-- jQery -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <!-- nice select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script src="~/Scripts/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
    <!-- End Google Map -->

</body>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(".btnDatMua").click(function () {
        console.log("hihihi");
        var id = $(this).attr("data-id")
        $.ajax({ 

            type: "GET",
            data: { id: id },
            url: "/GioHang/ThemGioHang",
            success: function (status) {
                
                alert("Đã thêm vào giỏ hàng")
            },
            error: function (err) {
                alert('Error ', err.statusText);
            }
        })
    })
    
</script>